@CHARSET "utf-8";

body {
	float:center;
	text-align:center;
}
#tag-cloud {
	position:relative; 
	/*width:250px;*/ 
	height:250px;
	margin: 0 auto; 
	float:center;
	text-align:center;
}
#tag-cloud a {
	position:absolute; 
	top:0px; 
	left:0px; 
	font-family:"宋体",Arial,Microsoft YaHei; 
	color:#ffffff; 
	font-weight:bold; 
	text-decoration:none; 
	padding: 3px 6px; 
}
#tag-cloud a:hover {
	color:white;
	text-shadow:0px -1px 6px red,1px 0px 6px red,0px 1px 6px red,-1px 0px 6px red;
}
#tag-cloud .red {
	color:red;
	}
#tag-cloud .orange {
	color:orange;
}
#tag-cloud .yellow {
	color:yellow;
}
#tag-cloud .green {
	color:green;
}
#tag-cloud .blue {
	color:blue;
	}
#tag-cloud .indigo {
	color:indigo;
}

#tag-cloud .violet {
	color:violet;
}
/*p { 
	font: 16px "宋体"; 
	text-align: center; color: #ba0c0c; 
}
p a { 
	font-size: 14px; color: #ba0c0c; 
}
p a:hover { 
	color: red; 
}*/
